<div class="container">
  <h1>Register</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="Submit()">
    <div class="form-group">
      <label class="form-label">Username:</label>
      <input class="form-control is-invalid" type="text" name="username" formControlName="Username" />
      <div class="invalid-feedback" *ngIf="usernameVal.invalid && (usernameVal.dirty || usernameVal.touched)">
        Username required.
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">First Name:</label>
      <input class="form-control" type="text" name="firstName" formControlName="FirstName" />
    </div>

    <div class="form-group">
      <label class="form-label">Last Name:</label>
      <input class="form-control" type="text" name="lastName" formControlName="LastName" />
    </div>

    <div class="form-group">
      <label class="form-label">Email:</label>
      <input class="form-control is-invalid" type="text" name="email" formControlName="Email" />
      <div class="invalid-feedback" *ngIf="emailVal.invalid && (emailVal.dirty || emailVal.touched)">
          Email required.
        </div>
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <i class="far fa-eye input-group-text" (click)="changePasswordVisibility()"></i>
        </div>
        <input class="form-control is-invalid" type="{{ showPassword ? 'text' : 'password'}}" name="password" formControlName="Password"
        />
        <div class="invalid-feedback" *ngIf="passwordVal.invalid && (passwordVal.dirty || passwordVal.touched)">
            Password should be minimum 6 characters.
        </div>
      </div>      
    </div>

    <button type="submit" class="btn btn-dark" [disabled]="registrationForm.invalid">Register</button>

  </form>
</div>