<div class="container">
  <h1>Register</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="Submit()">
    <div cdkTrapFocus class="form-group col-sm-6">
      <label class="form-label">Username:</label>
      <input class="form-control" type="text" name="username" formControlName="Username" />
      <app-form-control-messages [controlName]="'UserName'"></app-form-control-messages>

      <label class="form-label">First Name:</label>
      <input class="form-control" type="text" name="firstName" formControlName="FirstName" />
      <app-form-control-messages [controlName]="'FirstName'"></app-form-control-messages>

      <label class="form-label">Last Name:</label>
      <input class="form-control" type="text" name="lastName" formControlName="LastName" />
      <app-form-control-messages [controlName]="'LastName'"></app-form-control-messages>

      <label class="form-label">Email:</label>
      <input class="form-control" type="text" name="email" formControlName="Email" />
      <app-form-control-messages [controlName]="'Email'"></app-form-control-messages>

      <label class="form-label">Password:</label>
      <input class="form-control" type="{{ showPassword ? 'text' : 'password'}}" name="password" formControlName="Password"/>
      <button class="glyphicon glyphicon-eye-open" type="checkbox" (click)="changePasswordVisibility()"></button>
      <app-form-control-messages [controlName]="'Password'"></app-form-control-messages>

      <button type="submit" class="btn btn-dark" [disabled]="registrationForm.invalid">Register</button>
    </div>
  </form>
</div>
