<div class="container">
  <h1>Sign In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="Submit()">
    <div class="form-group">
      <label class="form-label">Username:</label>
      <input class="form-control is-invalid" type="text" name="username" formControlName="Username" />
      <div class="invalid-feedback" *ngIf="usernameVal.invalid && (usernameVal.dirty || usernameVal.touched)">
        Username required.
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Password:</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <i class="far fa-eye input-group-text" (click)="changePasswordVisibility()"></i>
        </div>
        <input class="form-control is-invalid" type="{{ showPassword ? 'text' : 'password'}}" name="password" formControlName="Password"
        />
        <div class="invalid-feedback" *ngIf="passwordVal.invalid && (passwordVal.dirty || passwordVal.touched)">
          Username required. Minimum 6 characters.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">Login</button>

  </form>
</div>