.container {
    margin: 50px auto;
}

h1 {
    padding-bottom: 50px;   
}

input[type='checkbox'] {
    width: 30px; 
    height: 30px;
}

.form-check-label {
    padding-left: 30px;
    font-size: 20px;   
}

.form-check {
    margin-bottom: 30px;
}

button {
    width: 200px;
}