<div class="container">
  <h1>New training</h1>
  <form [formGroup]="trainingForm" (ngSubmit)="createTraining()">
    <div cdkTrapFocus class="form-group col-sm-6">
      <label class="form-label">Name:</label>
      <input class="form-control is-invalid" type="text" name="name" formControlName="Name" />
      <app-form-control-messages [controlName]="'Name'"></app-form-control-messages>

      <label class="form-label">Description:</label>
      <textarea class="form-control is-invalid" type="text" name="description" formControlName="Description"></textarea>      
      <app-form-control-messages [controlName]="'Description'"></app-form-control-messages>

      <label class="form-label">Instructions:</label>
      <textarea class="form-control is-invalid" type="text" name="instructions" formControlName="Instructions"></textarea>      
      <app-form-control-messages [controlName]="'Instructions'"></app-form-control-messages>

      <label class="form-label">Make it public:</label>
      <input class="form-control is-invalid" type="checkbox" name="IsPublic" formControlName="IsPublic"/>      
      <app-form-control-messages [controlName]="'IsPublic'"></app-form-control-messages>

      <button type="submit" class="btn btn-dark" [disabled]="trainingForm.invalid">Create</button>
    </div>
  </form>
</div>
