<nav class="navbar navbar-light bg-light">
    <a id="brand" routerLink="/home">Train&#38;Share</a>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link"  (click)="navigate()" *ngIf="authService.isAuthenticated()">My Trainings</a>
        </li>
      </ul>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngIf="!authService.isAuthenticated()">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthenticated()">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
        <a  class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button" aria-haspopup="true" 
            aria-expanded="false">
          {{authService.getUsername()}}
        </a>
        <div class="dropdown-menu" role="menu">
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="authService.logout()">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
